.carousel {
  .p-carousel-item {
    padding-bottom: .5rem;
    // max-width: calc(100% / 5);
  }

  p-carousel,
  .p-carousel,
  .p-carousel-content,
  .p-carousel-container,
  .p-carousel-items-container {
    height: 100%;
  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    background-color: rgba(194, 170, 165, 0.23) !important;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    outline: none;
  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator button:hover {
    background: none;
  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: rgba(183, 150, 138, 0.7) !important;
  }

  .p-carousel .p-carousel-content {
    flex-direction: column-reverse;
  }

  .p-carousel .p-carousel-indicators {
    justify-content: end;
  }

  .p-link:focus {
    box-shadow: none;
  }

  .p-link:disabled {
    color: transparent !important;
  }

  .top-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0 1rem 0;

    p {
      margin: 0;
    }

    img.icon {
      width: 1.5rem;
    }
  }

  .body {
    .lang {
      display: flex;
      align-items: center;
      gap: .25rem;

      .bol {
        border-radius: 50%;
        width: .5rem;
        height: .5rem;
      }

      .txt {
        font-weight: 500;
        font-size: small;
      }
    }

    .description {
      font-weight: 500;
      font-size: small;
      margin: 0;
      padding: .25rem 0;
    }

    .footer {

      .icon {
        color: var(--text-color);
        border: 1px solid var(--surface-border);
        padding: .1rem .25rem;
        border-radius: 5px;

        i {
          font-size: medium;
        }
      }
    }
  }
}

.date {
  font-size: small;
  padding: .25rem 0;
}

.typeScript {
  background-color: #3178c6;
  // #0074bd
  // #eb2d2f
}

.java {
  background: rgb(0, 116, 189);
  background: linear-gradient(90deg, rgba(0, 116, 189, 1) 0%, rgba(235, 45, 47, 1) 100%);
}

.angular {
  background: rgb(220, 24, 125);
  background: -moz-linear-gradient(90deg, rgba(220, 24, 125, 1) 0%, rgba(183, 29, 224, 1) 47%, rgba(128, 6, 250, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(220, 24, 125, 1) 0%, rgba(183, 29, 224, 1) 47%, rgba(128, 6, 250, 1) 100%);
  background: linear-gradient(90deg, rgba(220, 24, 125, 1) 0%, rgba(183, 29, 224, 1) 47%, rgba(128, 6, 250, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dc187d", endColorstr="#8006fa", GradientType=1);
}

.bar {
  height: .5rem;
}

.bg-icons {
  background-color: #f8f9fa;
  background-image: radial-gradient(circle, #dee2e6 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 1rem 1rem;
}