<section class="carousel">
  <p-carousel [value]="repos" [numScroll]="1" [numVisible]="5" [responsiveOptions]="respOptions">
    <ng-template pTemplate="header">
      <p class="pl-3 font-bold">Github - Repositórios</p>
    </ng-template>
    <ng-template let-repo pTemplate="item">
      <div class="border-1 h-full surface-border border-round m-2 text-center px-3">
        <section class="w-full top-info">
          <p class="font-semibold">{{ repo.name }}</p>
          <img src="assets/logos/angular17.png" class="icon">
        </section>
        <img [src]="repo.img" alt="" class="w-full shadow-2 border-round" loading="eager">
        <div class="w-full body h-full">
          <div class="flex justify-content-between">
            <span class="date">Criado:<strong>{{formatData(repo.created_at)}}</strong></span>
            <span class="date">Atualidao:<strong>{{formatData(repo.updated_at)}}</strong> </span>
          </div>
          <div class="w-full h-auto gap-1 flex">
            <section class="w-full h-full">
              <section class="w-full h-full flex border-round overflow-hidden">
                @for (language of repo.langs; track $index) {
                <div class="bar" [style.width]="language.percentage + '%'" [style.backgroundColor]="language.color">
                </div>
                }
              </section>
              <section class="w-full">
                <section class="flex justify-content-between">
                  @for (lan of repo.langs; track $index) {
                  <div class="lang">
                    <span class="bol" [style.backgroundColor]="lan.color"></span>
                    <span class="txt">{{lan.name}}</span>
                  </div>
                  }
                </section>
              </section>
            </section>
            <p-tag *ngIf="repo?.language" severity="success" [value]="repo?.language"></p-tag>
          </div>
          <section class="w-full text-left h-3rem">
            <p class="description">{{ repo.description }}</p>
          </section>
          <section class="flex gap-2 justify-content-end">
            <a class="icon" [href]="repo.html_url" target="_blank"><i class="pi pi-github"></i></a>
            <a class="icon" [href]="repo.html_url" target="_blank"><i class="pi pi-eye"></i></a>
            <a class="icon" [href]="repo.html_url" target="_blank"><i class="pi pi-info"></i></a>
          </section>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</section>
<!-- <section class="tabview">
  <p-dataView #dv [value]="repos" [rows]="5" [paginator]="true">
    <ng-template pTemplate="list" let-repo>
      <div class="grid grid-nogutter">
        <div class="col-12">
          @for (rep of repo; let first = $first; track $index;) {
          <section class="flex flex-column xl:flex-row xl:align-content-start p-4 gap-4"
            [ngClass]="{ 'border-top-1 surface-border': !first }">
            <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="rep.img"
              loading="eager" />
            <div class="flex flex-column sm:flex-row justify-content-between 
              align-items-center xl:align-items-start flex-1 gap-4">
              <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                <div class="text-2xl font-bold text-900">{{ rep.name }}
                  <p-tag *ngIf="rep?.language" severity="success" [value]="rep?.language"></p-tag>
                </div>
              </div>
            </div>
          </section>
          }
        </div>
      </div>
    </ng-template>
  </p-dataView>
</section> -->