:root {
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 57%);
  --title-color: hsl(var(--hue), 12%, 95%);
  --text-color: hsl(var(--hue), 12%, 75%);
  --body-color: #0f0c1c;
  --text-color-lighten: var(--container-color);
  --container-color: hsl(var(--hue), 24%, 12%);
  --text-color-light: hsl(var(--hue), 24%, 25%);
  --vlr-entrada: #005c53;
  --vlr-saiu: #a50411;
  --border-form: 1px solid rgba(255, 255, 255, 0.2);
  --github-img: url(./../img/redes/github-light.png);
  --google-img: url(./../img/redes/g-light.png);
}
