<section class="w-full h-full p-2">
  <section class="w-full flex justify-content-end">
    <p-avatar image="assets/img/perfil.jpg" styleClass="mr-2" size="large" shape="circle"></p-avatar>
  </section>
  <section class="flex gap-2">
    <section class="sidenav">
      <p-confirmPopup [styleClass]="'w-auto'"></p-confirmPopup>
      <p-menu [styleClass]="'nav w-auto'" #menu [model]="items"></p-menu>
    </section>
    <section class="w-full h-auto border-round nav p-2">
      <router-outlet></router-outlet>
    </section>
  </section>
</section>
