.card {
  width: calc(100% - 20px / 4.5);
  border-radius: 1rem;
}
@media screen and (max-width: 767px) {
  .card {
    width: calc(100% - 5px);
  }
}
::ng-deep .p-button{
  background-color: var(--first-color);
  color: #fff;
}
