<p-carousel [value]="products" [numVisible]="4" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" [showIndicators]="false">
  <ng-template pTemplate="header">
    <section class="px-2 py-1 flex justify-content-between">
      <p class="px-5 text-base md:text-xl">Aplicações</p>
      <p-button [style]="{'height':'2.5rem','width':'2.5rem'}" (click)="projects('projects')" icon="pi pi-plus"
        [raised]="true" [text]="true" [rounded]="true"></p-button>
    </section>
  </ng-template>
  <ng-template let-product pTemplate="item">
    <div class="h-15rem card"
      [style.background-image]="'url(https://primefaces.org/cdn/primeng/images/demo/product/' + product.image + ')'"
      style="background-repeat: no-repeat; background-position: center; background-size: cover;">
    </div>
  </ng-template>
</p-carousel>

<!-- <div class="card">
  <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">
      <ng-template let-product pTemplate="item">
          <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
              <div class="mb-3">
                  <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" [alt]="product.name" class="w-6 shadow-2" />
              </div>
              <div>
                  <h4 class="mb-1">{{ product.name }}</h4>
                  <h6 class="mt-0 mb-3">{{ '$' + product.price }}</h6>
                  <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product)"></p-tag>
                  <div class="car-buttons mt-5">
                      <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-search"></p-button>
                      <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-star-fill"></p-button>
                  </div>
              </div>
          </div>
      </ng-template>
  </p-carousel>
</div> -->
