<section class="top w-full flex-wrap flex align-content-center justify-content-center gap-3 flex-column">
  <section class="w-full flex-column flex align-items-center">
    <section class="h-10rem w-10rem border-circle">
      <img class="w-full border-circle h-full cover-full" src="assets/img/gifs/pato.gif" alt="">
    </section>
    <h1 class="text-base md:text-xl">Em Desenvolvimento</h1>
  </section>
  <section class="w-full">
    <app-carousel></app-carousel>
  </section>
  <section class="w-full py-2 text-center">
    <p-tag severity="sucess" value="Github Infos 🐳"></p-tag>
  </section>
  <section class="w-full flex flex-column md:flex-row gap-2 justify-content-around">
    <section class="w-auto sm:h-auto md:h-10rem">
      <img width="100%" height="100%"
        src="https://denvercoder1-github-readme-stats.vercel.app/api/top-langs/?username=tauisilva&langs_count=8&layout=compact&theme=react&border_color=7F3FBF&bg_color=0D1117&title_color=F85D7F&icon_color=F8D866"
        alt="">
    </section>
    <section class="w-auto sm:h-auto md:h-10rem">
      <img width="100%" height="100%"
        src="https://github-readme-activity-graph.vercel.app/graph?username=tauisilva&custom_title=Gráfico%20de%20Atividades%20do%20Github&bg_color=0D1117&color=7F3FBF&line=7F3FBF&point=7F3FBF&area_color=FFFFFF&title_color=FFFFFF&area=true"
        alt="Taui Silva's GitHub Activity Graph">
    </section>
    <section class="w-auto sm:h-auto md:h-10rem">
      <img width="100%" height="100%"
        src="https://github-profile-summary-cards.vercel.app/api/cards/profile-details?username=tauisilva&theme=radical"
        alt="Taui Silva's GitHub Contribution">
    </section>
    <section class="w-auto sm:h-auto md:h-10rem">
      <img width="100%" height="100%"
        src="https://denvercoder1-github-readme-stats.vercel.app/api?username=tauisilva&show_icons=true&count_private=true&theme=react&border_color=7F3FBF&bg_color=0D1117&title_color=F85D7F&icon_color=F8D866"
        alt="Taui Silva's Github Stats">
    </section>
  </section>
</section>
