<section class="w-full px-2">
  <section class="w-full text-center">
    <p-tag severity="danger" value="Aplicação em desenvolvimento, coisas podem falhar 😊"></p-tag>
  </section>
  <section class="w-full h-full">
    <div class="w-6">
      <p-toast [breakpoints]="{'920px': {width: '50%', right: '0'}}"></p-toast>
      <p-menu #menu [model]="items" [popup]="true"></p-menu>
      <p-button (click)="menu.toggle($event)" [icon]=selectedIcon [raised]="true" [text]="true"
        [rounded]="true"></p-button>
    </div>
    <section class="w-full">
      <router-outlet></router-outlet>
    </section>
  </section>
</section>
