<section class="flex flex-column justify-content-between flex-wrap align-content-center w-full h-auto">
  <section class="mobile h-full">

    <div class="p-1 w-full">
      <p-toast [breakpoints]="{'920px': {width: '50%', right: '0'}}"></p-toast>
      <p-menu #menu [model]="items" [popup]="true"></p-menu>
      <p-button (click)="menu.toggle($event)" [icon]=selectedIcon [raised]="true" [text]="true"
        [rounded]="true"></p-button>
    </div>
    <section class="w-full">
      <router-outlet></router-outlet>
    </section>
  </section>
</section>
