input,
button {
  background: transparent;
  outline: none;
  border: var(--border-form);
  border-radius: 2rem;
}
input::placeholder {
  color: var(--text-color);
}
// form{
//   background: transparent;
//   box-shadow: 0 0 0 1px rgba(0,0,0, 0.2);
//   border-radius: 10px;
// }
.redes {
  .img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
  }
  .github {
    background: var(--github-img) no-repeat center/cover;
  }
  .google {
    background: var(--google-img) no-repeat center/cover #fff;
  }

}
