@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.css";
html,
body {
  height: 100%;
  width: 100vw;
}
body {
  background-color: var(--body-color);
  color: var(--text-color);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar);
  scrollbar-width: thin;
}
.mat-mdc-tab .mdc-tab__text-label {
  color: var(--text-color);
}
.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
  color: var(--title-color);
}
.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
  border-color: var(--text-color);
}

* {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}

*::-webkit-scrollbar-track {
  background-color: var(--scrollbar);
}

*::-webkit-scrollbar {
  width: 12px;
}
