<mat-toolbar class="navbar">
  <!-- <a routerLink="/home" routerLinkActive="active-link"><i class="uil uil-estate"></i></a>
  <a routerLink="/servicos" routerLinkActive="active-link"><i class="uil uil-apps"></i></a>
  <a routerLink="/produtos" routerLinkActive="active-link"><i class="uil uil-database"></i></a>
  <a routerLink="/valores" routerLinkActive="active-link"><i class="uil uil-dollar-alt"></i></a>
  <a routerLink="/documentos" routerLinkActive="active-link"><i class="uil uil-file-info-alt"></i></a> -->
  <a routerLink="/login" routerLinkActive="active-link"><i class="uil uil-user-circle"></i></a>

  <a><i class="uil uil-moon-eclipse" (click)="toggle()"></i></a>
</mat-toolbar>
