.navbar {
  color: var(--title-color);
  background: var(--text-color-lighten);
  min-width: 250px;
  padding: 0 2em;
  border-radius: 40px;

  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  a {
    color: var(--title-color);
    font-size: 1.5rem;
    cursor: pointer;
  }
}
