:root {
  --hue: 250;
  --sat: 90%;
  --lig: 61%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 57%);
  --title-color: hsl(var(--hue), 12%, 95%);
  --text-color: hsl(var(--hue), 12%, 75%);
  --body-color: hsl(var(--hue), 40%, 8%);
  --text-color-lighten: var(--container-color);
  --container-color: hsl(var(--hue), 24%, 12%);
  --text-color-light: hsl(var(--hue), 24%, 25%);
  --vlr-entrada: #005c53;
  --vlr-saiu: #a50411;

  --scrollbar: hsl(var(--hue), 8%, 16%);
  --scrollbar-thumb: hsl(var(--hue), 8%, 24%);
  --scrollbar-thumb-hover: hsl(var(--hue), 8%, 32%);

  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}
@import "primeng/resources/themes/soho-dark/theme.css"



