:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
      Blue: hsl(207, 90%, 61%)
      Purple: hsl(250, 66%, 75%)
      Pink: hsl(356, 66%, 75%)
      Teal: hsl(174, 63%, 62%)
  */

  --hue: 250;
  --sat: 66%;
  --lig: 75%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --scrollbar: hsl(var(--hue), 8%, 66%);
  --scrollbar-thumb: hsl(var(--hue), 8%, 54%);
  --scrollbar-thumb-hover: hsl(var(--hue), 8%, 44%);
  --container-color: #ffffff;
  --border-form: 1px solid rgba(0,0,0, 0.2);
  // AJUSTAR PARA TEMA LIGHT
  // --scrollbar: hsl(var(--hue), 8%, 16%);
  // --scrollbar-thumb: hsl(var(--hue), 8%, 24%);
  // --scrollbar-thumb-hover: hsl(var(--hue), 8%, 32%);

  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --github-img: url(assets/img/redes/github-dark.png);
  --google-img: url(assets/img/redes/g-dark.png);
}
@import "primeng/resources/themes/soho-light/theme.css"
